<header class="header-container-c">
    <div class="header-left-container">
        <ul class="header-group">
            <li class="header-element"><a routerLink="/home">Home</a></li>
            <li class="header-element"><a routerLink="/about">About</a></li>
            <li class="header-element"><a routerLink="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="header-middle-container">
        <img src="" alt="FOTO" />
    </div>
    <div class="header-right-container">
        <ul class="header-group">
            <li class="header-element"><a routerLink="/services">Services</a></li>
            <li class="header-element"><a routerLink="/gallery">Gallery</a></li>
            <li class="header-element"><a routerLink="/search">Search</a></li>
        </ul>
    </div>

</header>