<section class="section-container">
    <img src="https://cdn.prod.website-files.com/5a63750443f71000016b3013/5a63771c5e467c0001483a5e_angle-white-1.svg"
        class="movement" width="170" alt=""
        style="will-change: transform; transform: translate3d(20%, 5%, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">

    <img src="https://cdn.prod.website-files.com/5a63750443f71000016b3013/5a6380e8a6d4b0000108b15d_angle-white-3.svg"
        class="movement hidden sm:flex" width="186" alt=""
        style="will-change: transform; transform: translate3d(650%, 10%, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
    <img src="https://cdn.prod.website-files.com/5a63750443f71000016b3013/5a63771c02b65d00015c166e_angle-white-2.svg"
        class="movement hidden sm:flex" width="193" alt=""
        style="will-change: transform; transform: translate3d(200%, 20%, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
    <img src="https://cdn.prod.website-files.com/5a63750443f71000016b3013/5a6380e8a6d4b0000108b15d_angle-white-3.svg"
        class="movement flex sm:hidden" width="186" alt=""
        style="will-change: transform; transform: translate3d(100%, 10%, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">

</section>