<div class="projects-container">
    <app-project-component [index]=1 [image]="'assets/proyecto2.png'" [title]="'Navacerrada'" [description]="'Calle de Méndez Álvaro'"></app-project-component>
    <app-project-component [index]=2 [image]="'assets/proyecto3.png'" [title]="'Huesca'" [description]="'Calle Antonio Machado'"></app-project-component>
    <app-project-component [index]=3 [image]="'assets/proyecto1.png'" [title]="'Sierra Morena'" [description]="'Calle Huesca'"></app-project-component>
    <app-project-component [index]=4 [image]="'assets/proyecto4.png'" [title]="'Huelva'" [description]="'Calle Plus Ultra'"></app-project-component>
</div>
