<footer class="footer-container">
    <h1 class="footer-element">Transforming Spaces, Inspiring Lives</h1>
    <div class="footer-element footer-container-description">
        <div class="text-sm flex flex-col items-center">
            <p>© Abel Pichardo</p>
            <p>2024</p>
        </div>
        <div class="text-sm flex flex-col items-center">
            <p>Calle de Bravo Murillo</p>
            <p>Madrid, Spain</p>
        </div>
        <div class="text-sm flex flex-col items-center">
            <p>+34 661 942 513</p>
            <p>abelestevez01&#64;hotmail.com</p>
        </div>
    </div>
</footer>
