<footer class="footer-container">
    <h1 class="footer-element">Transforming Spaces, Inspiring Lives</h1>
    <div class="footer-element footer-container-description grid grid-cols-2 md:grid-cols-3 gap-4">
        <div class="text-sm flex flex-col items-center 2xl:text-lg">
            <p>© Abel Pichardo</p>
            <p>2024</p>
        </div>
        <div class="text-sm flex flex-col items-center 2xl:text-lg">
            <p>Calle de Bravo Murillo</p>
            <p>Madrid, Spain</p>
        </div>
        <div class="text-sm translate-x-1/2 md:translate-x-0 flex flex-col items-center 2xl:text-lg">
            <p>+34 661 942 513</p>
            <p>abelestevez01&#64;hotmail.com</p>
        </div>
    </div>
    
</footer>
