/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-primary_white text-primary_white;
    font-family: Karla, sans-serif;
    font-optical-sizing: auto;
    font-weight: 0.875rem;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 2000px;
    overflow: auto;
}